body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f4f8; 
    color: #333; 
}

header {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    background-color: #41928e;
    color: white;
}


header img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    margin-right: 20px; 
}


header .details {
    text-align: center; 
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}


section {
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}



section h2 {
    color: #37b7b0; 
    border-bottom: 2px solid #3da49f;
    padding-bottom: 5px;
}


ul {
    list-style-type: none; 
    padding: 0;
}

li {
    background-color: #e0ebff; 
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    color: #003dad90; 
}


button {
    background-color: #ba89d4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #00ada4; 
}


@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    img {
        width: 70px;
    }
}